
/* TABLE OF CONTENTS

    HELLO VISITORS! HOW'S YOUR DAY? I HOPE YOU LIKE MY PORTFOLIO. I'M A BEGINNER AND STILL LEARNING. IF YOU HAVE SUGGESTIONS, JUST LET ME KNOW. THANK YOU FOR VISITING!

    OVER-ALL 
    PATRICIA ROLDA NAME
    WEB DEVELOPER HOVER UNDERLINED
    SOCIAL MEDIA LINK
    NAVIGATION
    CONTENT: ABOUT ME/SKILLS 
    PORTFOLIO
    TOOLTIP
    FOOTER
    TABLET VIEW
    LARGE MOBILE VIEW
    XSMALL MOBILE VIEW

*/


* {
    font-family: 'Quicksand', sans-serif;
}

/* PATRICIA ROLDA NAME */
header {
    background-color: #1b1b1b;
    justify-content: center;
    color: #efefef;
}

.introduction {
    height: 700px;
}

.navigation {
    margin: 0 auto;
    width: 50%;
    margin-top: 120px;
}


.my-name {
    margin: 0 auto;
    width: 50%;
    height: 100%;
    max-width: 60%;
    width: 100%;
    padding-top: 155px;
    text-align: center;
}



.my-name > span:first-child {
    font-weight: 600;
    letter-spacing: 4px;
    display: inline-block;
    font-size: 4rem; 
}

.my-name > span:nth-child(2) {
    font-weight: 600;
    display: inline-block;  
    font-size: 1.2rem;
}

.my-name > span > a {
    color: #19F6E8;
    text-decoration: none;
    margin-left: 0.5rem;
}


/* UNDERLINE ON THE LINK */
.my-name > span > a.left {
    position: relative;
}

.my-name > span > a.left:before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: #19F6E8;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
} 

.my-name > span > a.left:hover:before {
	visibility: visible;
    width: 100%;
}

/* SOCIAL MEDIA */
.links {
    margin-top: 15px;
    position: relative;
}

.social-logo {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.social-logo:hover {
    transform: scale(1.2);
    text-decoration: none;
}

/* NAVIGATION */
.navbar {
    background-color: #1b1b1b;
    padding: 0;
    border-top: 1px solid #fff;
    overflow: hidden;
}

.navigation {
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
}

.content {
    /* padding: 16px; */
    padding: 0 15%;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    z-index:10;
}
  
.sticky + .content {
    padding-top: 60px;
}

a.nav-link:hover {
    color: #19F6E8;
    transform: scale(1.2);  
}

a.nav-link {
    color: #fff;
    position: relative;
    margin: 0 75px;
}


a.nav-link:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: #19F6E8;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
} 

a.nav-link:hover:before {
	visibility: visible;
    width: 100%;
}

/* CONTENT: ABOUT ME/SKILLS */
.content {
    background-color: #efefef;
    color: #000000;
    padding-top: 50px
}


.about-title {
    font-weight: 800;
}

.service_box { 
    display: block; 
    text-align: center; 
    margin-top: 14px; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    z-index:55; 
    position:relative ;
}

/* .gds {
    z-index: 11;
} */

.skills { 
    display: inline-block; 
    padding: 12px 22px; 
    position: relative; 
    cursor: pointer; 
    text-align: center; 
    min-width: 152px; 
    margin-bottom: 16px; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

.skills-img { 
    display: inline-block; 
    height: 48px; 
    width: 48px; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

.skills-title { 
    padding: 0; 
    margin: 13px 0 0 0; 
    font-weight: 800;
}

.details:before { 
    background:none repeat scroll 0 0 rgba(212, 212, 212, 1); 
    bottom:-8px; content:""; 
    height:14px; 
    left:50%; 
    position:absolute; 
    -webkit-transform:rotate(45deg); 
    -moz-transform:rotate(45deg); 
    -ms-transform:rotate(45deg); 
    -o-transform:rotate(45deg); 
    width:14px; 
    margin-left:-7px; 
}

.details:after { 
    background:#fff; 
    bottom:-6px; 
    content:""; 
    height:16px; 
    left:50%; 
    position:absolute; 
    -webkit-transform:rotate(45deg); 
    -moz-transform:rotate(45deg); 
    -ms-transform:rotate(45deg); 
    -o-transform:rotate(45deg); 
    width:16px; 
    margin-left:-8px; 
}

.skills.hover > .details, .skills.open > .details { 
    display: block; 
}

.details > li { 
    text-align: left; 
    font-size: 13px; 
    line-height: 16px; 
    margin-bottom: 5px; 
    position: relative; 
    list-style: circle; 
    margin-left:5px; 
    text-align:left !important; 
}

.details { 
    display: block; 
    opacity: 0; 
    position: absolute; 
    bottom: 120px; 
    left: 50%; 
    width:300px; 
    margin-left: -153px; 
    background-color: #fff; 
    border: 1px dotted #c0c0c0; 
    padding: 21px 28px 5px 31px; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    -webkit-transition: all 0.3s ease-in-out; 
    -moz-transition: all 0.3s ease-in-out; 
    -o-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out; 
}

.skills:hover .details { 
    bottom: 170px; 
    opacity: 1; 
    -webkit-transition: all 0.3s ease-in-out; 
    -moz-transition: all 0.3s ease-in-out; 
    -o-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out; 
}

.skills-title { 
    padding: 0; 
    margin: 20px 0 0 0; 
}

img.icon {
  width: 25px;
  height: 25px;
}

/* PORTFOLIO */
section.portfolio {
    background-color: #000000;
    color: #fff;
    padding: 50px 15%;
}


.portfolio-image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	border-radius: 10px;
}
  
.portfolio-overlay {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
  
.portfolio-gallery:hover .portfolio-image {
	opacity: 0.3;
}
  
.portfolio-gallery:hover .portfolio-overlay {
	opacity: 1;
}

.portfolio-view {	
	color: #efefef;
	font-size: 1.5em;
	padding: 0 10px;
	align-items: center;
}

.portfolio-view:hover {	
	color: #000000;
    background-color: #fff;
}

/* TOOLTIP */
.forInstruction {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}
  
.forInstruction .instruction {
	visibility: hidden;
	width: 150px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
	font-size: 15px;
}
  
.forInstruction .instruction::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
  
.forInstruction:hover .instruction {
	visibility: visible;
	opacity: 1;
}


/* FOOTER */
footer {
    background-color: #efefef;
    color: #000000;
    padding: 50px 15%;
}

.title {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    font-weight: 800;
}

a.contact-link {
    Display: block;
    border: 1px solid #000000;
    padding: 0 10px;
    text-align: center;
    width: 100%;
    font-size: 150%;
    color: #000000;
    text-transform: uppercase;
    transition: all .25s ease-in-out;
    text-decoration: none;
}

a.contact-link:hover {
    color: #fff;
    background-color: #000000;
}

/* TABLET VIEW */

@media only screen and (max-width: 998px) {
   
    /* HEADER */
    .my-name > span:first-child {
        font-weight: 600;
        letter-spacing: 4px;
        display: inline-block;
        font-size: 2rem; 
    }

    .my-name {
        margin: 0 auto;
        width: 50%;
        height: 100%;
        max-width: 100%;
        width: 100%;
        padding-top: 155px;
        text-align: center;
    }

    /* NAVBAR */
    button.navbar-toggler {
        margin: 25px;
    }

    /* SKILLS */
    ul.skills {
        padding-left: 0;
    }

    .details {
        display: unset;
        bottom: unset; 
        opacity: 0; 
        position: unset; 
        left: unset; 
        width: unset; 
        margin-left: unset; 
        background-color: #fff; 
        border: unset; 
        padding: unset; 
        -webkit-tap-highlight-color: unset; 
        -webkit-transition: unset; 
        -moz-transition: unset; 
        -o-transition: unset; 
        transition: unset;
        color: black; 
    }

    
}

/* LARGE MOBILE VIEW */
@media only screen and (max-width: 425px) {
   
   
   /* HEADER */
    .my-name > span:first-child {
        font-weight: 600;
        letter-spacing: 4px;
        display: inline-block;
        font-size: 2rem; 
    }

    .my-name {
        margin: 0 auto;
        width: 50%;
        height: 100%;
        max-width: 100%;
        width: 100%;
        padding-top: 155px;
        text-align: center;
    }

    /* NAVBAR */
    button.navbar-toggler {
        margin: 10px;
    }

    /* FOOTER */
    .title {
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        font-weight: 800;
        font-size: 1.9em;
    }
}


/* X-SMALL MOBILE VIEW */
@media only screen and (max-width: 320px) {
     /* HEADER */
     .my-name > span:first-child {
        font-weight: 600;
        letter-spacing: 4px;
        display: inline-block;
        font-size: 1.5rem; 
    }

    .my-name {
        margin: 0 auto;
        width: 50%;
        height: 100%;
        max-width: 90%;
        width: 100%;
        padding-top: 155px;
    }

    .my-name > span:nth-child(2) {
        font-weight: 600;
        display: inline-block;  
        font-size: 1rem;
    }

    a.contact-link {
        Display: block;
        border: 1px solid #000000;
        padding: 0 10px;
        text-align: center;
        width: 100%;
        font-size: 100%;
        color: #000000;
        text-transform: uppercase;
        transition: all .25s ease-in-out;
        text-decoration: none;
    }

    /* FOOTER */
    .title {
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        font-weight: 800;
        font-size: 1.3em;
    }
}